/* Tables 
-------------------------------------------------------------- */

table {
  margin-bottom:1.4em;
}

th {
  /*font-weight: bold;*/
  background: #A7B0DB;
  color: #444;
  font: normal 1em sans-serif;
  text-decoration: none;
  border: 2px solid transparent;
}

th,td,caption {
  /*padding:4px 10px 4px 5px;*/
  padding: 4px;
}

tbody tr:nth-child(even) td {
  /*background:#E6E6E6;*/
}

tbody tr:hover td {
  /*background:#F6F6F6;*/
}

tfoot {
  /*font-style:italic;*/
}

caption.fett {
  font-weight: bold;
}

caption {
  font-size:  1em;
  text-align:left;
  /*background:#F6F6F6;*/
}

td{
  border-bottom: 1px dashed #A7B0DB;
  padding:1em;
  font-size:.9em;
}
td>img {
  padding-right:1em;
}
