@import url("stylesheet.css");

/*



                 __________    ____    _________ 
                |   _ __  _ / | ___ | |   ___   |
                |  | '_ `| || |/ __|| |__/  _|  |
                |  | | | | || |\__ \|  _ \ `__  |
                |  |_| |_| ||_||___/|____/\___  |
                |  nilsbc.com nilsbc@gmail.com  |



|----------------------------------------------------------------
| Hex values:
|----------------------------------------------------------------
| Background        f00
| Borders           000
| Font              222
| Menu Bright       A7B0DB
| Menu Saturated    8998DB
| Menu Upper border 858585 
|--------------------------------------------------------------*/


html { 
  background: #f00;
}

body {
  border: 4px double #000;
  background: #eee;
  color: #222;
}

h1 {
  border-bottom: 4px double #222;
}

h2{
  border-bottom: 4px double #222;
}

a:link    { } 
a:visited { }
a:hover   { 
  text-decoration: none; 
  color: #5C0A0A; }
a:active  { }
header#above {
  border-bottom: 1px dashed #444;
  color: #000;
}

nav.navmenu {
  background:#656565;
  border:2px solid #858585;
}
nav.navmenu {
  background: #A7B0DB;
  border:2px solid #858585;
  border-bottom: 2px solid #8998DB;
  border-right: 2px solid #8998DB;
}

nav.navmenu a {
  color: #444;
}

/* LVHA
*/
nav.navmenu a:link    { }
nav.navmenu a:visited { }
nav.navmenu a:hover   { 
  background: #8998DB;
  border:2px solid #858585;
  color: #222;
  background: #8998DB;  }
nav.navmenu a:active  { }


body#me a#me-,
body#report a#report-,
body#source a#source- {
  background: #A7B0DB;
  border: 2px solid #858585;
  border-bottom: 2px solid #8998DB;
  border-right: 2px solid #8998DB;
}

figure {
  border: 4px double #000;
}

footer.byline {
  border: 1px dashed #444;
  color: #555555;
}

footer#bottom {
  background: #A7B0DB;
  color: #222;
}

footer a {
  color: #444;
}

/* LVHA
*/
footer a:link    { }
footer a:visited { }
footer a:hover {
  color: #222;
}
footer a:active   { }

.quiet { color: #666; }
.loud  { color: #000; }


.box {
  background: #F2F2F2;
}

hr {
  background: #ddd;
  color: #ddd;
}

.border {
  border-right: 1px solid #ddd;
}




