/* import style
-------------------------------------------------------- 

*/
@import url(stylesheet.css);


/* make it blue
-------------------------------------------------------- 

*/
body{
 background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#0A335C),color-stop(10%,#7EB8F1),color-stop(100%,#DFEDFB)); 
 background: -moz-linear-gradient(top,#0A335C 0%,#7EB8F1 200px,#DFEDFB 100%);
}

html,header#above{background:#DFEDFB;}

header#top,
div#content{background:hsla(0,0%,100%,0.7);padding:10px;margin:10px auto;
 border:1px solid #0A335C;
 -webkit-border-radius: 10px;
 -moz-border-radius: 10px;
 border-radius: 10px;}

div#footer{margin-top:10px;background:#DFEDFB;} 
